html, body {
    margin:0;
    padding:0;
}

form {
    text-align:center;
}

.params {
    margin-left:4px;
}

#bt-start {
    margin-top:20px;
}

#campo-minado {
    margin: 0 auto;
    height:100%;
    margin-top:30px;
    text-align:center;
    margin-bottom:30px;
}



#container-campo {
    width:70%;
    margin:auto;
}

.Number0{
    background: url(none.png)
}

.Number1{
    color:#4876FF;
}

.Number2{
    color:#3CB371;
}

.Number3{
    color:#FF0000;
}

.Number4{
    color:#00008B;
}

.Number5{
    color:#8B0000;
}

.Number6{
    color:#008B8B;
}

.Number7{
    color:#FFC125;
}

.Number8{
    color:#9B30FF;
}

.Mine{
    background: url(mine.png)
}

.Flag{
    background:url(flag.png);
}

#container-historico{
    width:100%;
}

#historico{
    margin:0 auto;
}

#historico td{
    text-align: center;
}

.hTitle{
    padding:0 20px 0 20px;
}
